@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/images/background1.jpg');
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

.header-options {
    display: flex;
    margin: 1rem 0 0 1rem;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.menu {
    color: rgb(128, 113, 86);
    font-weight: 600;
    font-size: 30px;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}

.menu:hover {
    color: rgb(198, 205, 211);
    cursor: pointer;
    transform: scale(1.1);
}

.dropdown-menu {
    display: flex;
    position: absolute;
    inset-inline-start: 4rem;
    inset-block-start: 2rem;
    flex-direction: column;
    background-color: rgb(126, 98, 58);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: aliceblue;
    row-gap: 0.5rem;
    z-index: 100;
}

.dropdown-menu a {
    block-size: 25px;
    transition: color 0.3s ease-out;
}

.dropdown-menu a:hover {
    border-block-end: 1px solid rgba(0, 0, 0, 0.156);
    color: rgb(250, 233, 220);
}

.cancel-btn {
    inline-size: 100%;
    background-color: rgb(126, 96, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 15px;
    margin-block-start: 0.5rem;
    border: 1px solid rgba(113, 10, 10, 0.586);
    transition: all 0.3s ease-out;
}

.cancel-btn:hover {
    background-color: rgba(130, 8, 8, 0.741);
}

.clock {
    inline-size: 700px;
    block-size: 700px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/images/clock-fram.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* .hour-character {
    position: absolute;
    inline-size: 30px;
    block-size: 30px;
    color: rgb(213, 12, 12);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 2px 4px rgb(163, 0, 0);
} 

.hour-character:nth-child(n) {
    transform: rotate(var(--angle)) translate(322px) rotate(calc(-1 * var(--angle)));
} */

.hand {
    position: absolute;
    inset-block-end: 50%;
    inset-inline-start: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.center-dot {
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border: 1px solid rgb(118, 0, 0);
    border-radius: 50%;
    background-color: rgb(164, 0, 0);
    z-index: 100;
    margin: 4px 0 0 7px;
}

.hand.second {
    inline-size: 6px;
    block-size: 260px;
    background-color: rgb(172, 0, 0);
    border-radius: 10px;
    z-index: 60;
}

.hand.minute {
    inline-size: 15px;
    block-size: 230px;
    background-color: rgb(64, 10, 10);
    border-radius: 10px;
    z-index: 50;
}

.hand.minute::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 3px;
    block-size: 80%;
    background-color: rgb(235, 214, 190);
    border-radius: 10px;
}

.hand.hour {
    inline-size: 15px;
    block-size: 170px;
    background-color: rgb(64, 10, 10);
    border-radius: 10px;
    z-index: 40;
}

.hand.hour::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 3px;
    block-size: 70%;
    background-color: rgb(235, 214, 190);
    border-radius: 10px;
}


/* //////////////// RESPONSIVENESS */
@media (max-width: 900px) {
    .clock {
        inline-size: 500px;
        block-size: 500px;
    }

    /* .hour-character {
        font-size: 30px;
    }

    .hour-character:nth-child(n) {
        transform: rotate(var(--angle)) translate(225px) rotate(calc(-1 * var(--angle)));
    } */

    .hand.second {
        block-size: 190px;
    }

    .hand.minute {
        block-size: 160px;
    }

    .hand.hour {
        block-size: 130px;
    }

    .center-dot {
        inline-size: 20px;
        block-size: 20px;
    }
}

@media (max-width: 600px) {
    .clock {
        inline-size: 300px;
        block-size: 300px;
    }

    /* .hour-character {
        font-size: 25px;
    }

    .hour-character:nth-child(n) {
        transform: rotate(var(--angle)) translate(125px) rotate(calc(-1 * var(--angle)));
    } */

    .hand.second {
        inline-size: 4px;
        block-size: 110px;
    }

    .hand.minute {
        inline-size: 8px;
        block-size: 90px;
    }

    .hand.hour {
        inline-size: 8px;
        block-size: 70px;
    }

    .center-dot {
        inline-size: 15px;
        block-size: 15px;
    }

    .dropdown-menu {
        font-size: 14px;
    }

    .dropdown-menu a {
        block-size: 15px;
    }

    .cancel-btn {
        padding: 0
    }
}

@media (max-width: 325px) {
    .clock {
        inline-size: 230px;
        block-size: 230px;
    }

    /* 
    .hour-character {
        font-size: 22px;
    }

    .hour-character:nth-child(n) {
        transform: rotate(var(--angle)) translate(105px) rotate(calc(-1 * var(--angle)));
    } */

    .hand.second {
        block-size: 80px;
    }

    .hand.minute {
        block-size: 65px;
    }

    .hand.hour {
        block-size: 45px;
    }

    .center-dot {
        inline-size: 12px;
        block-size: 12px;
    }
}