* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/images/background.jpg');

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

.clock {
    inline-size: 700px;
    block-size: 700px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/images/clock-fram.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* .hour-character {
    position: absolute;
    inline-size: 30px;
    block-size: 30px;
    color: rgb(213, 12, 12);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 2px 4px rgb(163, 0, 0);
} 

.hour-character:nth-child(n) {
    transform: rotate(var(--angle)) translate(322px) rotate(calc(-1 * var(--angle)));
} */

.hand {
    position: absolute;
    inset-block-end: 50%;
    inset-inline-start: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.center-dot {
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border: 1px solid rgb(118, 0, 0);
    border-radius: 50%;
    background-color: rgb(164, 0, 0);
    z-index: 100;
    margin: 4px 0 0 7px;
}

.hand.second {
    inline-size: 6px;
    block-size: 260px;
    background-color: rgb(172, 0, 0);
    border-radius: 10px;
    z-index: 60;
}

.hand.minute {
    inline-size: 15px;
    block-size: 230px;
    background-color: rgb(64, 10, 10);
    border-radius: 10px;
    z-index: 50;
}

.hand.minute::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 3px;
    block-size: 80%;
    background-color: rgb(235, 214, 190);
    border-radius: 10px;
}

.hand.hour {
    inline-size: 15px;
    block-size: 170px;
    background-color: rgb(64, 10, 10);
    border-radius: 10px;
    z-index: 40;
}

.hand.hour::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 3px;
    block-size: 70%;
    background-color: rgb(235, 214, 190);
    border-radius: 10px;
}